* Jupyter 테마 바꾸기
 - https://github.com/dunovank/jupyter-themes
```sh
$ pip install jupyterthemes
$ jt -t grade3
```

* CSS 수정 버전: https://github.com/wookay/dotfiles/blob/master/.jupyter/custom/custom.css

 * DataFrames.jl 예제 
   - http://juliastats.github.io/DataFrames.jl/split_apply_combine/

In [ ]:
# Pkg.add("RDatasets")

In [ ]:
using RDatasets

iris = dataset("datasets", "iris")

In [ ]:
# Pkg.add("DataFrames")

In [5]:
using DataFrames

In [7]:
by(iris, :Species, size)

3×2 DataFrames.DataFrame
│ Row │ Species      │ x1     │
├─────┼──────────────┼────────┤
│ 1   │ setosa     │ (50,5) │
│ 2   │ versicolor │ (50,5) │
│ 3   │ virginica  │ (50,5) │

In [8]:
by(iris, :Species, df -> mean(df[:PetalLength]))

3×2 DataFrames.DataFrame
│ Row │ Species      │ x1    │
├─────┼──────────────┼───────┤
│ 1   │ setosa     │ 1.462 │
│ 2   │ versicolor │ 4.26  │
│ 3   │ virginica  │ 5.552 │

In [9]:
by(iris, :Species, df -> DataFrame(N = size(df, 1)))

3×2 DataFrames.DataFrame
│ Row │ Species      │ N  │
├─────┼──────────────┼────┤
│ 1   │ setosa     │ 50 │
│ 2   │ versicolor │ 50 │
│ 3   │ virginica  │ 50 │

In [10]:
by(iris, :Species) do df
    DataFrame(m = mean(df[:PetalLength]), s² = var(df[:PetalLength]))
end

3×3 DataFrames.DataFrame
│ Row │ Species      │ m     │ s²        │
├─────┼──────────────┼───────┼───────────┤
│ 1   │ setosa     │ 1.462 │ 0.0301592 │
│ 2   │ versicolor │ 4.26  │ 0.220816  │
│ 3   │ virginica  │ 5.552 │ 0.304588  │

In [11]:
aggregate(iris, :Species, sum)

3×5 DataFrames.DataFrame
│ Row │ Species      │ SepalLength_sum │ SepalWidth_sum │ PetalLength_sum │
├─────┼──────────────┼─────────────────┼────────────────┼─────────────────┤
│ 1   │ setosa     │ 250.3           │ 171.4          │ 73.1            │
│ 2   │ versicolor │ 296.8           │ 138.5          │ 213.0           │
│ 3   │ virginica  │ 329.4           │ 148.7          │ 277.6           │

│ Row │ PetalWidth_sum │
├─────┼────────────────┤
│ 1   │ 12.3           │
│ 2   │ 66.3           │
│ 3   │ 101.3          │

In [12]:
aggregate(iris, :Species, [sum, mean])

3×9 DataFrames.DataFrame
│ Row │ Species      │ SepalLength_sum │ SepalLength_mean │ SepalWidth_sum │
├─────┼──────────────┼─────────────────┼──────────────────┼────────────────┤
│ 1   │ setosa     │ 250.3           │ 5.006            │ 171.4          │
│ 2   │ versicolor │ 296.8           │ 5.936            │ 138.5          │
│ 3   │ virginica  │ 329.4           │ 6.588            │ 148.7          │

│ Row │ SepalWidth_mean │ PetalLength_sum │ PetalLength_mean │ PetalWidth_sum │
├─────┼─────────────────┼─────────────────┼──────────────────┼────────────────┤
│ 1   │ 3.428           │ 73.1            │ 1.462            │ 12.3           │
│ 2   │ 2.77            │ 213.0           │ 4.26             │ 66.3           │
│ 3   │ 2.974           │ 277.6           │ 5.552            │ 101.3          │

│ Row │ PetalWidth_mean │
├─────┼─────────────────┤
│ 1   │ 0.246           │
│ 2   │ 1.326           │
│ 3   │ 2.026           │

In [13]:
for subdf in groupby(iris, :Species)
    println(size(subdf, 1))
end

50
50
50